.App-header {
  background-color: $bg-color;
  padding: 20px 20px 0 20px;
  font-weight: bold;
  font-size: 30px;
  color: $header-text;
  -webkit-text-stroke-width: .25px;
  -webkit-text-stroke-color: $header-stroke;
}

