.App-header {
  background-color: $bg-color;
  padding: 20px 20px 0 20px;
  font-weight: bold;
  font-size: 30px;
  color: $header-text;
  -webkit-text-stroke-width: $stroke-size;
  -webkit-text-stroke-color: $stroke-color;
}

