// Colors

// whites
$clouds:    #ecf0f1;   $concrete:    #95a5a6;
$silver:    #bdc3c7;   $asbestos:    #7f8c8d;

// reds
$alizarin:  #e74c3c;   $pomegranate: #c0392b;


// oranges
$carrot:    #e67e22;   $sun_flower:  #f1c40f;
$pumpkin:   #d35400;   $orange:      #f39c12;

// blues
$pete:      #3498db;   $belize:      #2980b9;

// greens
$teal:      #008080;
$turquoise: #1abc9c;   $emerald:     #2ecc71;
$green_sea: #16a085;   $nephritis:   #27ae60;

$midnight:  #2c3e50;   $wet-asphalt: #34495e;

// purples
$amethyst:  #9b59b6;   $wisteria:    #8e44ad;
