// general
$highlight:   $belize;


$header-text: $highlight;
$header-stroke: $highlight;

// background
$bg-color:  $clouds;
$bg-accent: $clouds;

// panels
$panel-text: $midnight;
$panel-bg:   white;

// text
$font-family: Georgia;
$heading-color: $highlight;

$stroke-color: $wet-asphalt;
$stroke-size: .5px;



